li.customize-control a.features-added img {
	margin-top: 15px;
	display: none;
	box-sizing: border-box;
	outline: 5px solid #fff;
}
li.customize-control.features-active a.features-added img {
	height: auto;
	display: block;
}
li#customize-control-yuma_theme_options-header_area a.header-area-alignment img,
li#customize-control-yuma_theme_options-theme_color a.features-added img {
	display: block;
	margin-top: 0;
	margin-bottom: 15px;
}
