/* welcome style */

.yuma-welcome-container {
	max-width: 90%;
}
.yuma-welcome-container h1.welcome-title,
.yuma-welcome-accordion {
	margin-top: 50px;
}
.yuma-welcome-accordion .yuma-accordion-header {
	margin: 50px 0;
	border-bottom: 1px solid #abc;
}
.yuma-welcome-accordion .yuma-accordion-header ul li {
	display: inline-block;
	font-size: 22px;
	padding: 20px 30px;
	background-color: #abc;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}
.yuma-welcome-accordion .yuma-accordion-header ul li:hover {
	background-color: #0a0e14;
}
.yuma-welcome-accordion .yuma-accordion-header ul li.active {
	background-color: #eba54c;
}
.yuma-welcome-accordion .yuma-accordion-content p {
	font-size: 20px
}
.yuma-welcome-accordion .yuma-accordion-content .content {
	display: none;
	background-color: #fff;
	padding: 50px;
}
.yuma-welcome-accordion .yuma-accordion-content .content.active {
	display: block;
}
.yuma-welcome-accordion .yuma-accordion-content .content .button {
	font-size: 16px;
}